@charset "utf-8"
/* CSS Document */

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    cursor: url("img/cursor_v4.svg"), auto;
    box-sizing: border-box;
}

header {
    background-image: url(img/banner_cv_v2.jpg);
    background-size: cover; /* cómo puedo hacer para que la imagen no se deforme sino que se vaya mostrando más o menos dependiendo el dispositivo? */
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

#title {
    text-transform: uppercase;
    letter-spacing: 1cap;
    color: white;
    margin-top: 0%;
}

h1 {
    color:white;
    font-size: 80px;
    font-weight: 700;
    padding-top: 30%;
    margin: 0%;
}

.nombre {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
}

.botones ul {
    background-color: black;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0%;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

nav li {
    padding: 30px;
}

.sobre-mi {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: flex-end;
    height: 50%;
    background-color: #2A4630;
}

.info-personal p {
    padding-left: 30px;
    max-width: 70%;
}

.info-personal h2 {
    padding-left: 30px;
}

.sobre-mi img {
    border-radius: 50%;
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    color:rgb(203, 248, 166);
}

body {
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    color: white;
    background-color: black;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    transition: 0.2s;
    padding: 10px;
    border-radius: 10px;
    box-shadow: #CBF8A6 0 0 0 3px;
}

#experiencia, #educacion {
    display: flex;
    justify-content: center;
}

#hablemos {
    background-image: url(img/banner_cv.jpg);
    background-size: cover;
    align-items: baseline;
}

#hablemos ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

#hablemos li {
    padding-inline: 5%;
    padding-bottom: 20px;
    margin-top: 0%;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

#hablemos h3 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    padding: 20px;
}

.flecha-arriba {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
