@charset "utf-8"
/* CSS Document */

;@font-face {
    font-family: Helvetica;
    src: url(fonts/HelveticaNeueLTStd-Bd.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Helvetica;
    src: url(fonts/HelveticaNeueLTStd-Md.otf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Helvetica;
    src: url(fonts/HelveticaNeueLTStd-Roman.otf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Helvetica;
    src: url(fonts/HelveticaNeueLTStd-Th.otf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GtSuperText';
    src: url(fonts/GT-Super-Text-Bold-Italic-Trial.otf);
    font-weight: 500;
    font-style:italic;
}

html {
    font-family: 'Helvetica', sans-serif;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    cursor: url("img/cursor_v4.svg"), auto;
    box-sizing: border-box;
}

#inicio {
    background-image: url(img/banner_cv_v2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#title {
    text-transform: uppercase;
    letter-spacing: 1cap;
    color: white;
    margin-top: 0px;
    margin-bottom: 0%;
}

.flecha-arriba {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    left: 30px;
    bottom: 30px;
    z-index: 1000;
}

h1 {
    font-size: 160px;
    margin: 0;
    font-family: 'Gt-SuperText';
    font-style: italic;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    color: #000;
}

h2 {
    font-size: 130px;
    font-weight: 100;
    color: #fff;
    margin: 0;
}

p {
    margin: 0;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.nombre {
    display: flex;
    gap: 40px;
    line-height: 60px;
}

.botones ul {
    background-color: black;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.botones {
    width: 100%;
}

nav li {
    padding: 30px;
}

.hola {
    background-color: black;
    border-radius: 50px;
    padding: 10px 25px 15px;
    color:#CBF8A6;
    font-weight: 200;
    font-size: 30px;
    margin: 0;
    position: absolute;
}

#sobre-mi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2A4630;
    cursor: url("img/estrella.png"), auto;
}

.info-personal {
    font-weight: 200;
    font-size: 100px;
    text-transform: uppercase;
    max-width: 1600px;
    line-height: 100px;
    text-align: center;
}

body {
    font-size: 20px;
    color: white;
    background-color: black;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    padding: 0;
    margin: 0;
}

nav a:hover {
    transition: 0.2s;
    padding: 10px;
    border-radius: 10px;
    box-shadow: #CBF8A6 0 0 0 3px;
}

#proyectos {
    height: 100vh;
    display: flex;
    align-items: center;
}

#proyectos ul {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.caja-proyectos img {
    border-radius: 25px;
}


.caja-proyectos {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.caja-proyectos li {
    list-style: none;
}

.caja-proyectos img:hover {
    transition: 0.5s ease;
    border-radius: 25px;
    filter: brightness(50%);
}

#hablemos {
    background-image: url(img/hablemos_cv.jpg);
    background-size: cover;
}

/******* PROYECTOS *******/
.proyectos {
    font-weight: 300;
    font-size: 200px;
    color: #000;
    -webkit-text-stroke-color: #fff;
    -webkit-text-stroke-width: 2px;
}

.desc-proyectos {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 200;
    max-width: 450px;
    border-color: #fff;
    border-width: 0 0 0 2px;
    border-style: solid;
    padding-left: 20px;
    height: 135px;
}

.titulo {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    align-items: center;
}

.trabajos {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 70px 0;
}

.texto-proyectos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tituloyflecha {
    display: flex;
    gap: 100px;
    align-items: center;
    max-width: 400px;
}

h4 {
    font-size: 80px;
    font-weight: 200;
    margin: 0;
}

.desc-interna {
    font-size: 58px;
    font-weight: 200;
    max-width: 400px;
}

.numero {
    font-size: 20px;
    font-weight: 100;
}

.trabajos img {
    border-radius: 20px;
}

.trabajos img:hover {
    transition: 0.5s ease;
    filter: brightness(50%);
}

/******* PROYECTO DSGN *******/

.intro-proyectos {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(img/dsgn-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.presentacion-proyectos {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.presentacion-proyectos img {
    border-radius: 20px;
}

.titulo-proyectos {
    font-size: 100px;
    font-weight: 200;
    line-height: 90px;
    text-transform: uppercase;
    text-align: right;
    color: #CBF8A6;
    max-width: 550px;
}

.desc-proyectos-abierta {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 100px 0;
}

.parrafo-principal{
    display: flex;
    padding: 0 150px;
}

.parrafo-sec {
    display: flex;
    justify-content: flex-end;
    padding: 0 150px;
}

.info-proyectos {
    font-size: 60px;
    color: #CBF8A6;
    font-weight: 200;
    max-width: 1100px;
    line-height: 55px;
}

.info-extra-proyectos {
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    max-width: 450px;
    color: #CBF8A6;
}

/******* GALERIA DSGN *******/
.miniaturas {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 0;
}

.miniaturas img {
    border-radius: 15px;
}

.columnas {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.columnas img:hover {
    transition: 0.5s ease;
    filter: brightness(50%);
}

#galeria {
	display: none;
	width: 100%;
	justify-content: center;
    align-items: center;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 10;
}

#galeria-oculta {
	display: flex;
	width: 100%;
	max-width: 1450px;
	overflow: hidden;
	z-index: 20;
}

.fraccion-galeria {
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	min-width: 1450px;
	height: 90vh;
	justify-content: space-between;
}

.primer-ultima-flecha {
	visibility: hidden;
}

.close {
	position: absolute;
	top: 10px;
	right: 2%;
}

.flecha:hover {
    filter: brightness(50%)
}

.img {
    margin: 0;
    padding: 0;
}

#fondo-galeria {
	background-color: black;
	opacity: 0.9;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 0;
}

/*------IDS CON LAS IMÁGENES DE LA GALERÍA DSGN-------*/

#foto-1-dsgn {
    background-image: url(img/galerias/dsgn1.jpg);
}

#foto-2-dsgn {
    background-image: url(img/galerias/dsgn2.jpg);
}

#foto-3-dsgn {
    background-image: url(img/galerias/dsgn3.jpg);
}

#foto-4-dsgn {
    background-image: url(img/galerias/dsgn4.jpg);
}

#foto-5-dsgn {
    background-image: url(img/galerias/dsgn5.jpg);
}

#foto-6-dsgn {
    background-image: url(img/galerias/dsgn6.jpg);
}

/******* PROYECTO KAOLIN *******/

.titulo-proyectos-2 {
    font-size: 100px;
    font-weight: 200;
    line-height: 90px;
    text-transform: uppercase;
    text-align: right;
    color: #EB010E;
    max-width: 550px;
}

.info-proyectos-2 {
    font-size: 60px;
    color: #EB010E;
    font-weight: 200;
    max-width: 1100px;
    line-height: 55px;
}

.info-extra-proyectos-2 {
    font-size: 20px;
    font-weight: 200;
    text-transform: uppercase;
    max-width: 450px;
    color: #EB010E;
}

/*------IDS CON LAS IMÁGENES DE LA GALERÍA KAOLÍN-------*/

#foto-1-kao {
    background-image: url(img/galerias/kao1.jpg);
}

#foto-2-kao {
    background-image: url(img/galerias/kao2.jpg);
}

#foto-3-kao {
    background-image: url(img/galerias/kao3.jpg);
}

#foto-4-kao {
    background-image: url(img/galerias/kao4.jpg);
}

#foto-5-kao {
    background-image: url(img/galerias/kao5.jpg);
}

#foto-6-kao {
    background-image: url(img/galerias/kao6.jpg);
}

.intro-proyectos-2 {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(img/kaolin-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.video {
    display: flex;
    justify-content: center;
}

video {
    border-radius: 15px;
}


/*------HABLEMOS-------*/

.titulo-contacto {
    font-size: 100px;
    font-weight: 200;
    color: #CBF8A6;
    margin: 0;
}

.frase-contacto {
    font-size: 30px;
    font-weight: 200;
    color: #CBF8A6;
    max-width: 300px;
}

.info-contacto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside {
    display: flex;
    gap: 50px;
}

.links {
    border: 2px solid;
    border-color: #F8AB07;
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 200;
    border-radius: 10px;
}

.links:hover {
    background-color: #F8AB07;
    color: #000;
}

.contacto {
    background-image: url(img/background-hablemos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: center;
}

.contacto article {
    display: flex;
    gap: 80px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40vw;;
}

input, textarea {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    font-weight: 200;
    color: #000;
    border-color: #000;
    border-width: 2px;
    font-size: 20px;
    font-family: 'helvetica';
}

textarea {
    height: 30vh;
}

.enviar {
    background-color: #CBF8A6;
    border: 2px solid #000;
    font-size: 20px;
    color: #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.enviar:hover {
    border: 2px solid #000;
    background: #1E9055;
}

/*------FOOTER-------*/

footer {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 200;
    color: #CBF8A6;
    text-transform: uppercase;
    letter-spacing:2px;
    background-color: #2A4630;
    border-radius: 50px;
    padding: 15px;
    margin: 30px;
}