@charset "utf-8"
/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
    cursor: url(img/cursor.png), auto;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

html {
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

header {
    background-color: white;
}

#title {
    text-transform: uppercase;
    letter-spacing: 1cap;
    color: black;
}

h1 {
    color:black;
    font-size: 80px;
    font-weight: 700;
    padding-top: 10%;
}

.botonera {
    background-color: rgb(255, 0, 234);
    width: 100%;
}

.botones ul{
    background-color: aqua;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav li {
    padding: 30px;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    color:rgb(203, 248, 166);
}

body {
    width: 1000px;
    font-weight: 400;
    font-size: 15px;
    color: white;
    background-color: black;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgba(255, 255, 255, 1) !important;
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: 0.2s;
}